.pt-sans narrow-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "PT Sans Narrow", sans-serif;
}
* ::before, ::after{
  margin: 0;
  paddding: 0;
  box-sizing: border-box;
}
:root{
  --accent-color: #f00fd;
  --bg-color: #fccfd;
  --main-font: "PT Sans Narrow", sans-serif;
  --sub-font: "arial", sans-serif;
  --g-ratio: 1.618;
}
body{
  font-family: var(--sub-font);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size: 1.2em;
}
