





h1{
  font-family: "ruslan display", sans-serif;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --accent-color: #34495e;
  --bg-color: #ecf0f1;
  --main-font: "Ruslan Display", sans-serif"
  --sub-font: "arial", sans-serif;
  --g-ratio: 2.618;
}
